body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Anpassung der Verteilung */
    align-items: center;
    font-family: 'Arial', sans-serif; /* Angepasste Schriftart */
    background-color: #f9f9f9; /* Hellgrauer Hintergrund */
    color: #333; /* Dunkelgraue Textfarbe */
    font-size: 1rem; /* Basis-Schriftgröße */
    text-align: center;
}

header {
    width: 100%;
    text-align: center;
    padding: 0.5rem 0; /* Reduziertes Padding */
}

.logo {
    max-height: 40px; /* Kleinere Logo-Höhe für kleinere Bildschirme */
}

footer {
    font-size: 0.8rem;
    width: 100%;
    text-align: center;
    padding: 0.5rem 0; /* Reduziertes Padding */
    background-color: #f9f9f9;
}

footer a {
    color: #333;
    text-decoration: none;
    margin: 0 0.5rem;
}

footer a:hover {
    text-decoration: underline;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px; /* Maximale Breite für das Hauptinhaltsbereich */
    padding: 1rem; /* Padding für Abstand */
    box-sizing: border-box; /* Box-Sizing für Padding und Border */
}

h1 {
    font-size: 1.5rem; /* Anpassung der Schriftgröße für Überschriften */
    margin-bottom: 0.5rem;
    margin-top: 0; /* Reduziertes Margin oben */
    font-weight: bold;
}

#info-txt {
    width: 90%;
    margin-bottom: 1rem;
    font-size: 1rem; /* Anpassung der Schriftgröße für Info-Text */
    line-height: 1.5;
}

.thank-you-btn {
    background-color: #2196f3; /* Angepasste Hintergrundfarbe (Rosa) */
    border: none;
    color: white; /* Weiße Textfarbe */
    width: 80%;
    height: 8rem;
    text-align: center;
    text-decoration: none;
    font-size: 1rem; /* Anpassung der Schriftgröße */
    transition: all 0.3s;
    cursor: pointer;
    border-radius: 1rem; /* Abgerundete Ecken */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Schatten für Tiefe */
    font-weight: bold; /* Fettere Schrift */
}

.modern-btn {
    background-color: #ff4081; /* Angepasste Hintergrundfarbe (Rosa) */
    border: none;
    color: white; /* Weiße Textfarbe */
    padding: 1rem; /* Polsterung */
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 1rem; /* Anpassung der Schriftgröße */
    margin: 0.5rem 0; /* Geringer Rand um jeden Button, oben und unten */
    width: 100%; /* Button-Breite relativ zum Bildschirm */
    max-width: 600px;
    height: 4rem; /* Standardhöhe */
    transition: all 0.3s;
    cursor: pointer;
    border-radius: 1rem; /* Abgerundete Ecken */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Schatten für Tiefe */
    font-weight: bold; /* Fettere Schrift */
}

.modern-btn i {
    margin-right: 0.5rem; /* Abstand zwischen Icon und Text */
}

.modern-btn:hover {
    background-color: #e91e63; /* Dunklerer Hintergrund beim Überfahren (Dunkelrosa) */
}

/* Medienabfrage für Hochformat */
@media (max-width: 600px) and (orientation: portrait) {
    .modern-btn {
        height: 6rem; /* Erhöhte Höhe im Hochformat (Portrait) */
    }
}

/* Medienabfrage für Querformat */
@media (max-height: 600px) and (orientation: landscape) {
    .modern-btn {
        height: 2.6rem; /* Reduzierte Höhe im Querformat (Landscape) */
        font-size: 0.7rem;
    }
    footer {
        font-size: 0.5rem;
    }
    #info-txt {
        display: none;
    }
}

#textInputOverlay {
    display: none;
}

#textInputOverlay .modern-btn {
    width: 40%;
    min-height: 0;
}

#cancelTextBtn {
    background-color: darkgrey;
}

#thankYouOverlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}


.overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 2;
    cursor: pointer;
    color: white;
    padding: 1rem; /* Polsterung für besseren Abstand */
    font-family: 'Arial', sans-serif; /* Angepasste Schriftart */
}

.feedback-text {
    width: 90%;
    height: 35%;
    font-size: 1rem;
    border-radius: 1rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* Halbtransparentes weißes Overlay */
    z-index: 9998;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner {
    font-size: 3rem;
    color: #ff4081;
    z-index: 9999;
}

#audioRecordOverlay .modern-btn {
    width: 80%;
    max-width: 300px;
    margin: 10px auto;
}

#cancelAudioBtn {
    background-color: darkgrey;
}

/* Blinking recording indicator */
.blinking {
    margin-top: -30px;
    margin-bottom: 30px;
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
    animation: blinking 1s infinite;
}

@keyframes blinking {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}
