body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    font-size: 1rem;
    text-align: center;
}

header {
    width: 100%;
    text-align: center;
    padding: 0.5rem 0;
}

.logo {
    max-height: 40px;
}

footer {
    font-size: 0.8rem;
    width: 100%;
    text-align: center;
    padding: 0.5rem 0;
    background-color: #f9f9f9;
}

footer a {
    color: #333;
    text-decoration: none;
    margin: 0 0.5rem;
}

footer a:hover {
    text-decoration: underline;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px;
    padding: 1rem;
    box-sizing: border-box;
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    margin-top: 0;
    font-weight: bold;
}

#info-txt {
    width: 90%;
    margin-bottom: 1rem;
    font-size: 1rem;
    line-height: 1.5;
}

.thank-you-btn {
    background-color: #2196f3;
    border: none;
    color: white;
    width: 80%;
    height: 8rem;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    transition: all 0.3s;
    cursor: pointer;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

.modern-btn {
    background-color: #ff4081;
    border: none;
    color: white;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 1rem;
    margin: 0.5rem 0;
    width: 100%;
    max-width: 600px;
    height: 4rem;
    transition: all 0.3s;
    cursor: pointer;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

.modern-btn i {
    margin-right: 0.5rem;
}

.modern-btn:hover {
    background-color: #e91e63;
}

@media (max-width: 600px) and (orientation: portrait) {
    .modern-btn {
        height: 6rem;
    }

}

@media (max-height: 600px) and (orientation: landscape) {
    .modern-btn {
        height: 2.6rem;
        font-size: 0.7rem;
    }
    footer {
        font-size: 0.5rem;
    }
    #info-txt {
        display: none;
    }
}

#textInputOverlay {
    display: none;
}

#cancelTextBtn {
    background-color: darkgrey;
}

#thankYouOverlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 2;
    cursor: pointer;
    color: white;
    padding: 1rem;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

.feedback-text {
    width: 100%;
    max-width: 600px;
    height: 35%;
    font-size: 1rem;
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 1rem auto;
    box-sizing: border-box;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 9998;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner {
    font-size: 3rem;
    color: #ff4081;
    z-index: 9999;
}

#audioRecordOverlay .modern-btn {
    width: 80%;
    max-width: 300px;
    margin: 10px auto;
}

#cancelAudioBtn {
    background-color: darkgrey;
}

.blinking {
    margin-top: -30px;
    margin-bottom: 30px;
    width: 30px;
    height: 30px;
    background-color: grey;
    border-radius: 50%;
}

@keyframes blinking {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

/* Neue Styles für die Problemlösung */
#textInputOverlay {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#textInputOverlay .feedback-text {
    width: 95%;
    max-width: 600px;
    margin: 10px auto;
}

#textInputOverlay .modern-btn,
#audioRecordOverlay .modern-btn {
    width: 80%;
    max-width: 300px;
    margin: 10px auto;
}

@media (max-width: 600px) {
    #textInputOverlay .feedback-text,
    #textInputOverlay .modern-btn,
    #audioRecordOverlay .modern-btn {
        width: 90%;
    }
}