body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem; /* Basis-Schriftgröße */
    text-align: center;
}

h1 {
    font-size: 1.5rem; /* Anpassung der Schriftgröße für Überschriften */
    margin-bottom: 0.5rem;
}

#info-txt {
    width: 90%;
    margin-bottom: 1rem;
    font-size: 1rem; /* Anpassung der Schriftgröße für Info-Text */
}

.modern-btn {
    background-color: #4CAF50; /* Grüner Hintergrund */
    border: none;
    color: white; /* Weiße Textfarbe */
    padding: 1rem; /* Polsterung */
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 1rem; /* Anpassung der Schriftgröße */
    margin: 0.5rem; /* Geringer Rand um jeden Button */
    width: 90%; /* Button-Breite relativ zum Bildschirm */
    max-width: 600px;
    height: 6rem;
    transition: all 0.3s;
    cursor: pointer;
    border-radius: 1rem; /* Abgerundete Ecken */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Schatten für Tiefe */
}

.modern-btn i {
    margin-right: 0.5rem; /* Abstand zwischen Icon und Text */
}

.modern-btn:hover {
    background-color: #45a049; /* Dunklerer Hintergrund beim Überfahren */
}

@media (max-width: 600px) {
    body, html {
        font-size: 1rem; /* Grundschriftgröße für kleine Bildschirme */
    }

    h1 {
        font-size: 1.2rem; /* Schriftgröße für Überschriften auf kleinen Bildschirmen */
    }

    #info-txt {
        font-size: 1rem; /* Schriftgröße für Info-Text auf kleinen Bildschirmen */
    }

    .modern-btn {
        font-size: 1rem; /* Schriftgröße für Buttons auf kleinen Bildschirmen */
        padding: 0.8rem; /* Anpassung der Polsterung für vertikale Ausdehnung */
    }

    .feedback-text {
        font-size: 1rem; /* Schriftgröße für Textarea auf kleinen Bildschirmen */
    }

    .overlay {
        font-size: 1rem; /* Schriftgröße für Overlay auf kleinen Bildschirmen */
    }
}

#textInputOverlay {
    display: none;
}

#textInputOverlay .modern-btn {
    width: 40%;
    min-height: 0;
}

#cancelTextBtn {
    background-color: darkgrey;
}

#thankYouOverlay {
    display: none;
}

.overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    background-color: rgba(0,0,0,0.9);
    z-index: 2;
    cursor: pointer;
    color: white;
    padding: 1rem; /* Polsterung für besseren Abstand */
}

.feedback-text {
    width: 90%;
    height: 35%;
    font-size: 1rem;
    border-radius: 1rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
